.jobCardTitle {
  font-size: 16px;
}

.jobCardRole {
  font-size: 18px;
}

.jobType {
  border: 1px solid #4a70a9;

  color: #4a70a9;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-size: 0.875rem;
}

.jobCompanyImage {
  width: 68px;
  height: 72px;
  border-radius: 10px;
  object-fit: cover;
}

.jobFavIcon {
  width: 20px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .jobCompanyImage {
    width: 78px;
    height: 82px;
  }
  .jobCardTitle {
    font-size: 20px;
  }
}

/* lg: min-width: 1024px */
@media (min-width: 1024px) {
  .jobFavIcon {
    width: 25px;
  }
}
